# Application profile (dev, test, prod)
PROFILE=dev

# Database connection
DATABASE_URL=postgres://user:password@localhost:5432/openfga_demo

# OpenFGA configuration
OPENFGA_CLIENT_URL=http://localhost:8081
OPENFGA_STORE_ID=01HBPC7QTJQPQGCM9MSCG1JM1P
OPENFGA_AUTH_MODEL_ID=01HBPC7QTJQPQGCM9MSCG1JM1Q
